//imports
@import "reset";
@import "variables";
@import "mixins";


// element styles
#main-nav {
    background: $mainColor;
    ul {
        width: 100%;
        @include clearfix;
    }
    li {
        float: left;
        width: (100% / 6);
        @include mQ(600px){
            width: 100%;
        }
    }
    a {
        color: $offWhite;
        text-decoration: none;
        padding: 16px;
        display: block;
        text-align: center;
        &:hover {
            background: red;
        }
    }
}



// end of #main-nav styles

section h1 {
    font-size: $headingSize;
    color: $mainColor;
}

.lead-banner {
    @include banner;
    text-align: right;
}

.lessons-banner {
    @include banner;
    li {
        text-transform: uppercase;
        font-size: 20px;
        max-width: 400px;
        margin: 60px 0;
    }
}

#services {
    margin-bottom: 60px;
    li {
        float: left;
        box-sizing: border-box;
        text-align: center;
        width: (100% / 3);
    }
    img {
        width: 60%;
        margin: 20px 20%;
    }
    a {
        text-decoration: none;
        color: $mainColor;
        font-weight: bold;
        &:hover {
            color: red;
        }
    }
    ul {
        @include clearfix;
    }
}

#projects {
    li {
        @include grid(6, 4%);
    }
    img {
        width: 100%;
    }
    ul {
        @include clearfix;
    }
}

footer {
    width: 100%;
    background: $mainColor;
    text-align: center;
    span {
        color: $offWhite;
        padding-top: 10px;
    }
}